body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-body {
  background-color: #00203D;
  padding-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a, p {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.1rem;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: white !important;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.75rem;
}

hr {
  border: 0;
  border-top: 3px solid #71B48D;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
}

.splash {
  height: 100vh;
}

.logo {
  height: 50px;
  width: 50px;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-style {
  border: "2px solid gray";
  font-size: 1rem;
}

.large-black-heading {
  font-size: 3.5rem;
  text-shadow: 2px 1px rgb(255, 255, 255);
}

.primary-white-text, .ant-statistic-title, .ant-statistic-content, .ant-card-meta-title {
  color: white !important;
}

.ant-card-meta-title {
  font-size: 1.5rem !important;
}

.ant-card-meta-description {
  color: rgba(255, 255, 255, 0.4) !important;
}

.ant-statistic-title {
  font-size: 1.25rem !important;
  font-weight: bold;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

.card-poster {
  object-fit: cover;
  height: 375px;
  margin: auto;
}

.custom-row img {
  width: 'auto';
  height: 600px;
  object-fit: cover;
}

.actor-detail {
  margin: auto;
  border: '1px solid transparent';
  padding: 1.25rem;
  margin: 1.5rem 1rem 0 0;
}

.actor-detail-container {
  display: grid;
  width: 85%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #004c943a;
  border-radius: 5px;
  padding: 0rem 1rem 0rem 1rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.226);
  margin-bottom: 3rem;
}

.portrait {
  height: auto;
  border-radius: 5px;
}

.poster {
  height: auto;
  border-radius: 5px;
}

.main-detail {
  display: grid;
  width: 95vw;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.movie-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-row {
  display: flex;
  justify-content: center;
  align-self: center;
}

.heading-text {
  font-family: 'Monoton', cursive;
  font-weight: 500;
  font-size: 5rem;
}

.search-text {
  color: #fff;
  text-shadow: 0 3px 5px black;
}

.load-more-button {
  background-color: transparent;
  padding: 1rem;
  border: 2px solid green;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  cursor: pointer;
  transition: .4s;
  font-weight: bolder;
}

.load-more-button:hover {
  border: 2px solid green;
  background-color: green;
}

.search-function {
  width: 70vw;
  padding-top: 2rem;
  margin: auto;
}

.search-button {
  background-color: transparent !important;
  color: white !important;
  margin-top: 1rem;
}

.display-grid {
  display: grid;
}

.col-two {
  grid-template-columns: repeat(2, 1fr);
}

.scroll-arrow a {
  padding-top: 60px;
}

.scroll-arrow a span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2.2px solid #fff;
  border-bottom: 2.2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 1.5s infinite ease-in-out;
  animation: sdb04 1.5s infinite ease-in-out;
  box-sizing: border-box;
  bottom: 5%;
  left:50%;
  z-index: 500;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@media only screen and (max-width: 3840px) {
  .splash {
    margin: auto;
  }
  .heading-text {
    font-size: 10rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .search-function {
    width: 40vw;
    padding-top: 2rem;
    margin: auto;
  }
  .actor-detail-container {
    width: 65%;
    margin-top: 2.5%;
  }
}

@media only screen and (max-width: 2560px) {
  .heading-text {
    font-size: 6rem;
  }
  h2 {
    font-size: 2rem;
  }
  .search-function {
    width: 50vw;
    padding-top: 2rem;
    margin: auto;
  }
  .actor-detail-container {
    width: 85%;
  }
}

@media only screen and (max-width: 985px) {
  .col-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .biography {
    padding: 1.25rem;
  }
  .main-row {
    justify-content: center;
  }
  .poster {
    height: 375px;
  }
  .portrait {
    height: 375px;
  }
  .main-detail, .actor-detail-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .movie-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-poster {
    height: 300px
  }
  .no-image {
    height: 300px;
  }
  .circular-score {
    display: none;
  }
  .heading-text {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}